*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.links{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #f0f0f0;
}
.github_profile{
    margin-left: 5vh;
}
.github_link{
    height: 6vh;
}
.header{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bg.jpg");
    background-repeat:no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(1, 2, 43, 0.5);
    background-size:100% 100%;
}
.name{
    margin-top: 50vh;
    font-weight: 300;
    padding: 5vh;
    width: 80vw;
    margin: auto;
    font-size: 8vh;
    text-align: right;
    color: #f0f0f0;
    border-bottom: 1px #f0f0f0 solid;
    border-width: 0.5vh;
    padding: 0px;
    cursor: default;
}
.aboutMe{
    padding: 5vh;
    width: 80vw;
    margin: auto;
    font-size: 3vh;
    text-align: right;
    color: #f0f0f0;
    padding: 0px;
    cursor: default;
}
.content{
    height: 95vh;
    position: relative;
    display: grid;
    grid-template-columns: 8fr 2fr;
}
.projects{
    background-image: linear-gradient( #f0f0f0,#f0f0f0);
    color: #364f6b;
}
.projects_list{
    display: grid;
    width: 80%;
    margin: auto;
    list-style-type: none;
}
.project{
    margin-bottom: 4vh;
}
.project_name{
    margin: 0 1vh 1vh 1vh;
    font-size: 3vh;
    color: #fc5185;
    height: fit-content;
}
.project_description{
    font-size: 3vh;
    color: #364f6b;
}
.project_preview, .carousel-size{
    width: 30vw;
    float: left;
}
.carousel-border{
    border: 1vh #364f6b solid;
    border-radius: 1vh;
    margin-right: 1vh;
}
.live_link_body{
    position: absolute;
    z-index: 10;
    left: 0;
    height: 100%;
    width: 50%;
}
.live_link_body:hover{
    transition: background-color 0.5s linear;
    background-color: #fc5185;
}
.git_link_body:hover{
    transition: background-color 0.5s linear;
    background-color: #f0f0f0;
}
.live_link_body:hover > .live_link{
    visibility: visible;
    opacity: 1;
}
.git_link_body:hover > .git_link{
    visibility: visible;
    opacity: 1;
}
.live_link, .git_link{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.git_link a{
    color: #fc5185;
}
.git_link:hover a{
    color: #fc5185;
}
a{
    transition: all 0.5s;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 3vh;
}
a:hover{
    text-decoration: none;
    font-size: 4vh;
    color: #f0f0f0;
}
.git_link_body{
    position: absolute;
    z-index: 10;
    right: 0;
    height: 100%;
    width: 50%;
}

.skills{
    color: #364f6b;
    background-image: linear-gradient( #f0f0f0,#f0f0f0);
}
.headlines{
    text-align: left;
    font-size: 5vh;
    border-bottom: 1px #364f6b solid;
    font-weight: 500;
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
}
.skills_list{
    width: 80%;
    font-size: 3vh;
    margin: auto;
    text-align: left;
    list-style-type: none;
}
.skills_list li{
    padding-bottom: 2vh;
    background: url(tick.svg) no-repeat left;
    background-size: 50% 60%;
    background-position: -7vh 0.2vh;
    padding-left: 5vh;
}
/* .carousel-control-next-icon, .carousel-control-prev-icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
} */
.footer{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;    
}



@media screen and (max-width: 1500px) {
    .skills_list li{
        background-position: -6vh 0.2vh;
        padding-left: 6vh;
    }
}
@media screen and (max-width: 1200px) {
    .skills_list li{
        background-position: -3vh 0.2vh;
        padding-left: 8vh;
    }
    .project_preview, .carousel-size{
        width: 40vw;
    }
}
@media screen and (max-width: 1020px){
    .project_preview, .carousel-size{
        width: 50vw;
    }
}
@media screen and (max-width: 890px) {
    .skills_list li{
        background-position: -2vh 0.2vh;
        padding-left: 7vh;
    }
}
@media screen and (max-width: 780px) {
    .card .name{
        font-size: 6vh;
    }
    .skills_list li{
        background-position: -4vh 0.2vh;
        padding-left: 6vh;
    }
    .content{
        grid-template-columns: 7fr 3fr;
    }
    
}
@media screen and (max-width: 650px){
    .content{
        grid-template-columns: none;
    }
    .card .name{
        font-size: 5vh;
    }
    .projects{
        order: 1;
    }
    .skills_list{
        font-size: 4vh;
    }
    .skills_list li{
        background-position: -12vh 0.2vh;
        padding-left: 11vh;
    }
    .project_preview, .carousel-size{
        width: 78vw;
    }
}
@media screen and (max-width: 540px){
    .skills_list li{
        background-position: -9vh 0.2vh;
    }
    .card .name{
        font-size: 4vh;
    }
}


[data-scroll]{
    transition: all 2s;
}

/* .content[data-scroll="in"]{
    transition: all 2s;
    opacity: 1;
    transform: translateY(0);
}
.content[data-scroll="out"]{
    transition: all 2s;
    opacity: 0;
} */
